#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
main {
  transition: margin-left 0.3s ease;
}

.sidebar-open main {
  margin-left: 256px;
}

.sidebar-collapsed main {
  margin-left: 64px;
}

